.slider{
  position: relative;
  width:100%;
  overflow: hidden;
  display:block;
  aspect-ratio: 1920 / 901;
  .swiper-container{ 
    z-index: 5;
    position: relative;
    width:100%;
    height:100%;
    .swiper-wrapper{
      position: relative;
      width:100%;
      transform: initial !important;
      .swiper-slide{
        &:not(.swiper-slide-active){
          opacity:0 !important;
          position: absolute !important;
        }
        &.swiper-slide-active{
          position: relative !important;
          opacity: 1 !important;
        }
        display:grid;
        grid-template-rows: min-content;
        align-items: center;
        justify-items: center;
        text-align: left;
        transform: initial !important;
        transition:opacity 1s ease !important;
        width:100% !important;
        align-content: center;
        picture{
          position: absolute;
          width:100%;
          height:100%; 
          top:0;
          img{

          }
          &:before{
            z-index: 8;
            content:'';
            position: absolute;
            width:100%;
            height:100%;
            top:0;
            left:0;
            display:table;
            background: #242B35;
            opacity: 0.54;
          }
          &:after{
            position: absolute;
            width: 302px;
            height: 303px;
            left: -151px;
            top: -151px;
            background: #FFE72F;
            filter: blur(175px);
            z-index: 9;
            content:'';
            display:table;
          }
        }
        &:after{
          z-index: 10;
          content:'';
          position: absolute;
          top:0;
          height:0;
          display:table;
          width:-webkit-fill-available;
          height:-webkit-fill-available;
          background: $dark;
          opacity: 0.4;
        }
      }
    }
  }
  .slideText{
          width:90%;
          max-width:1520px;
          margin:0 auto;
          position: absolute;
          left:50%;
          top:50%;
          transform: translate(-50%,-50%);
          z-index: 2000;
          display:grid;
          grid-row-gap: 30px;
          text-align: left;
          .text{
            margin:0px auto 0 0;
            max-width:678px;
            > span, > h1{
              z-index: 5;
              position: relative;
              @include textFont(80px,85px,900);
            }
            > p{
              @include textFont(40px,auto,500);
            }
          }
  }
  .swiper-pagination{
    position: absolute;
    bottom:56px;
    left:50%;
    transform: translate(-50%,0%);
    display:flex;
    grid-column-gap: 7px;
    justify-content: center;
    z-index: 10;
    span{
      &.swiper-pagination-bullet-active{
        background: $red;
        &:before{
          border-color: $red;
        }
      }
      &:not(&.swiper-pagination-bullet-active){
        background: $lightBlue;
        &:before{
          border-color: $lightBlue;
        }
      }
      position: relative;
      &:before{
        width:calc(100% + 4px);
        height:calc(100% + 4px);
        border:2px dashed;
        content:'';
        display:table;
        position: absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-50%);
        border-radius: 24px;
      }
      @include round(10px);
      width:10px;
      display:table;
      cursor: pointer;
    }
  }
}